* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "poppins", sans-serif;
}
.title {
    h2 {
        display: flex;
    justify-content: center;
    }
    width: 500px;
    height: 100px;
    position: absolute;
    top: 10vh; /* Eleman, ekranın üstünden %10 uzaklıkta */
    left: 40vw; /* Eleman, ekranın solundan %5 uzaklıkta */
}
