* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "poppins", sans-serif;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
        font-size: 45px;
    }
    .subtitle{
        color: gray;
    }
}
.time-line{
    display: grid;
    justify-content: center;
    align-items: center;
    .timeline-item {
        display: flex;
        gap: 30px;
        margin: 20px;
    }
    .date{
        display: flex;
        color: gray;
        flex-direction: column;
        align-items: flex-start;
    }
}
.arrow {
    color: #333;
}
.button-bar{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    .changelog-btn {
    color: #fff;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    }
}

